$lato: 'Lato', sans-serif;
$overpassMono: 'Overpass Mono', source-code-pro, Menlo, Monaco, Consolas,
'Courier New', monospace;
$roboto: 'Roboto', sans-serif;

$smallFont: 10px;
$mediumFont: 16px;
$largeFont: 20px;
$extraLargeFont: 26px;
$giganticFont: 36px;
$extraGiganticFont: 56px;